%% -*- mode: Erlang; fill-column: 80; -*-
%% This configuration is an example meant for local development only.
[ {avlizer,
   [ {avlizer_confluent, #{schema_registry_url => "localhost:8081"}}
   ]}
, {kflow,
   [ {config_module_dir, "{{output_dir}}/releases/{{release_version}}/"}
   , {kafka_endpoints, [{"localhost", 9094}]}
   , {kafka_sasl_file, "{{output_dir}}/releases/{{release_version}}/sasl-user-pass"}
   , {log_dir, "/tmp/kflow_log/"}
   ]}
, {system_monitor,
   [ {kafka_hosts, [{"localhost", 9094}]}
   , {kafka_client_config,
      [ {sasl, {plain, "{{output_dir}}/releases/{{release_version}}/sasl-user-pass"}}
      , {ssl, true}
      ]}
   , {node_status_fun, {kflow, status}}
   ]}
, {kernel,
   [ {error_logger_format_depth, 10}
   ]}
].
